.indent {
    text-indent: 25px;
}

.academic, .footnotes {
    display: flex;
}

.space {
    min-width: 15%;
}

.space-large {
    min-width: 65%;
}

.primary {
    position: relative;
    margin: 5px;
    text-align: justify;
    text-justify: inter-word;
    font-size: 10.5pt;
    padding: 0px 5px 0px 0px;
    transition: font-size 2s;
    /* color: #34A727; */
    /* color: #823E07; */
    /* color: #3B3636; */
}

.primary:hover {
    font-size: 12.5pt;
}

.primarytext-1 {
    min-width: 28.5vw;
}

.primarytext-2 {
    /* padding: 5.25pt 0pt; */
    min-width: 22vw;
}

.primarytext-3 {
    min-width: 32vw;
}

.primarytext-4 {
    min-width: 28.5vw;
}

.primarytext-short {
    min-width: 15vw;
    font-size: 10.5pt;
    margin: 5px;
}

.primarytext-5 {
    min-width: 20vw;
}

.primarytext-6 {
    min-width: 18vw;
}

.primarytext-7 {
    min-width: 32vw;
}

.primarytext-8 {
    min-width: 30vw;
}

.primarytext-9 {
    min-width: 25vw;
}

.footnotes {
    position: absolute;
    bottom: 0px;
    padding: 0px 0px 5px 0px;
    align-items: flex-end;
    transition: font-size 2s;
}

.personal {
    margin: 5px;
    text-align: justify;
    text-justify: inter-word;
    font-size: 10.5pt;
    padding: 0px 5px 0px 0px;
    transition: font-size 2s;
    /* opacity: 0; */
}

.personal:hover {
    font-size: 12.5pt;
}

.footnote-text1 {
    min-width: 20%;
}

.footnote-text2 {
    min-width: 25%;
}

.footnote-text3 {
    min-width: 32%;
}

.footnote-text4 {
    min-width: 36%;
}

.footnote-text5 {
    min-width: 25%;
}

.footnote-text6 {
    min-width: 30%;
}

.footnote-text7 {
    min-width: 30%;
}

.inline-icon1 {
    vertical-align: bottom;
    width: 60px; 
    height: 50%;
}

.inline-icon2 {
    vertical-align: bottom;
    width: 35px; 
    height: auto;
    /* height: 50%; */
}

.inline-icon3 {
    vertical-align: bottom;
    width: 15px; 
    height: auto;
}

.inline-icon4 {
    vertical-align: middle;
    width: 20px; 
    height: auto;
}

.inline-icon5 {
    vertical-align: middle;
    width: 50px; 
    height: auto;
}

.inline-icon6 {
    vertical-align: middle;
    width: 40px; 
    height: auto;
}

.inline-icon6B {
    vertical-align: bottom;
    width: 40px; 
    height: auto;
}

.inline-icon7A {
    vertical-align: middle;
    width: 30px;
    height: auto;
}

.inline-icon7 {
    vertical-align: bottom;
    width: 40px; 
    height: auto;
}

.inline-icon8 {
    vertical-align: bottom;
    width: 30px; 
    height: auto;
}

.inline-icon8B {
    vertical-align: bottom;
    width: 40px; 
    height: auto;
}

.inline-icon9 {
    vertical-align: bottom;
    width: 35px; 
    height: auto;
}

.inline-icon10 {
    vertical-align: bottom;
    width: 35px; 
    height: auto;
}

.inline-icon11 {
    vertical-align: top;
    width: 10px; 
    height: auto;
}

.inline-icon12 {
    vertical-align: top;
    width: 15px; 
    height: auto;
}

.scan1 {
    width: 100%;
    height: auto;
}

.inline-icon12 {
    vertical-align: top;
    width: 15px; 
    height: auto;
}
